body {
    background-color: bisque;
}
main {
    width: 80%;
    margin: auto;
}
p, h1, h2, ul li {
    color: darkred;
}
h2 {
    float: left;
    margin: 2%;
    width: 20%;
    background-color: burlywood;
    padding: 20px;
    text-align: center;
}
div {
    clear:both;
}